![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [124]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np

# Begin coding here ...
import pandas as pd
airbnb_review = pd.read_csv('data/airbnb_last_review.tsv',sep='\t')
airbnb_review.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [125]:
airbnb_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [126]:
airbnb_review['last_review'].unique()

array(['May 21 2019', 'July 05 2019', 'June 22 2019', 'June 24 2019',
       'June 09 2019', 'June 23 2019', 'June 29 2019', 'June 28 2019',
       'July 01 2019', 'January 01 2019', 'July 02 2019', 'June 19 2019',
       'June 15 2019', 'April 19 2019', 'June 01 2019', 'June 14 2019',
       'May 12 2019', 'June 21 2019', 'May 27 2019', 'June 16 2019',
       'June 13 2019', 'June 05 2019', 'May 25 2019', 'June 17 2019',
       'July 07 2019', 'May 17 2019', 'March 25 2019', 'May 18 2019',
       'June 04 2019', 'June 30 2019', 'March 30 2019', 'January 26 2019',
       'May 16 2019', 'June 18 2019', 'June 26 2019', 'January 02 2019',
       'July 09 2019', 'May 31 2019', 'May 28 2019', 'April 22 2019',
       'March 23 2019', 'April 08 2019', 'May 26 2019', 'June 27 2019',
       'May 01 2019', 'January 03 2019', 'May 29 2019', 'June 02 2019',
       'April 27 2019', 'June 07 2019', 'May 20 2019', 'May 14 2019',
       'June 20 2019', 'July 03 2019', 'June 25 2019', 'March 31 2019',
       'June 08 2019', 'April 12 2019', 'July 06 2019', 'July 04 2019',
       'May 19 2019', 'June 06 2019', 'June 10 2019', 'June 03 2019',
       'May 24 2019', 'May 08 2019', 'May 11 2019', 'June 11 2019',
       'April 30 2019', 'January 07 2019', 'January 05 2019',
       'February 16 2019', 'May 06 2019', 'January 10 2019',
       'February 15 2019', 'April 20 2019', 'January 14 2019',
       'July 08 2019', 'March 01 2019', 'May 30 2019', 'January 31 2019',
       'February 12 2019', 'May 02 2019', 'May 07 2019', 'April 13 2019',
       'April 04 2019', 'April 29 2019', 'March 28 2019', 'June 12 2019',
       'April 21 2019', 'January 19 2019', 'February 28 2019',
       'March 15 2019', 'April 26 2019', 'April 14 2019', 'April 28 2019',
       'April 01 2019', 'May 23 2019', 'April 25 2019', 'January 28 2019',
       'April 10 2019', 'May 22 2019', 'January 27 2019', 'March 19 2019',
       'January 21 2019', 'January 15 2019', 'March 27 2019',
       'May 13 2019', 'April 23 2019', 'May 04 2019', 'February 08 2019',
       'May 03 2019', 'April 07 2019', 'April 24 2019', 'March 04 2019',
       'May 05 2019', 'February 14 2019', 'May 09 2019', 'March 24 2019',
       'March 13 2019', 'April 02 2019', 'January 04 2019',
       'March 09 2019', 'January 06 2019', 'February 20 2019',
       'February 23 2019', 'March 22 2019', 'May 15 2019',
       'January 20 2019', 'May 10 2019', 'April 18 2019', 'April 06 2019',
       'January 18 2019', 'April 15 2019', 'March 12 2019',
       'March 17 2019', 'February 11 2019', 'March 16 2019',
       'March 11 2019', 'January 12 2019', 'March 02 2019',
       'April 17 2019', 'April 11 2019', 'January 29 2019',
       'February 01 2019', 'February 03 2019', 'March 08 2019',
       'February 19 2019', 'January 13 2019', 'January 23 2019',
       'January 08 2019', 'March 10 2019', 'March 29 2019',
       'January 25 2019', 'April 03 2019', 'February 04 2019',
       'February 18 2019', 'February 22 2019', 'January 30 2019',
       'April 09 2019', 'January 24 2019', 'February 07 2019',
       'February 26 2019', 'March 14 2019', 'January 22 2019',
       'February 09 2019', 'March 05 2019', 'January 09 2019',
       'February 24 2019', 'March 18 2019', 'April 05 2019',
       'February 02 2019', 'March 06 2019', 'January 17 2019',
       'March 20 2019', 'March 03 2019', 'April 16 2019',
       'February 25 2019', 'March 26 2019', 'February 10 2019',
       'January 16 2019', 'March 21 2019', 'January 11 2019',
       'February 21 2019', 'February 05 2019', 'March 07 2019',
       'February 17 2019', 'February 27 2019', 'February 13 2019',
       'February 06 2019'], dtype=object)

In [127]:
airbnb_review['last_review']=pd.to_datetime(airbnb_review['last_review'])
airbnb_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 591.0+ KB

In [128]:
first_reviewed = airbnb_review['last_review'].min()
last_reviewed = airbnb_review['last_review'].max()
print('last review :',last_reviewed)
print('first review :',first_reviewed)

last review : 2019-07-09 00:00:00
first review : 2019-01-01 00:00:00

In [129]:
rooms = pd.ExcelFile('data/airbnb_room_type.xlsx')
rooms=rooms.parse(0)

In [130]:
rooms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [131]:
rooms.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [132]:
rooms['room_type'].unique()

array(['Entire home/apt', 'private room', 'Private room',
       'entire home/apt', 'PRIVATE ROOM', 'shared room',
       'ENTIRE HOME/APT', 'Shared room', 'SHARED ROOM'], dtype=object)

In [133]:
rooms['room_type'] = rooms['room_type'].str.lower()
rooms['room_type'] = rooms['room_type'].astype('category')

In [134]:
rooms['room_type']

0        entire home/apt
1        entire home/apt
2        entire home/apt
3           private room
4        entire home/apt
              ...
25204       private room
25205       private room
25206       private room
25207    entire home/apt
25208       private room
Name: room_type, Length: 25209, dtype: category
Categories (3, object): ['entire home/apt', 'private room', 'shared room']

In [135]:
frq = rooms['room_type'].value_counts()
frq

entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64

In [136]:
price = pd.read_csv('data/airbnb_price.csv')
price.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [137]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [138]:
price['price'] = price['price'].str.replace(' dollars','')
price.head()

   listing_id price                nbhood_full
0        2595   225         Manhattan, Midtown
1        3831    89     Brooklyn, Clinton Hill
2        5099   200     Manhattan, Murray Hill
3        5178    79  Manhattan, Hell's Kitchen
4        5238   150       Manhattan, Chinatown

In [139]:
price['price'] = price['price'].astype('int')

In [140]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  int64
 2   nbhood_full  25209 non-null  object
dtypes: int64(2), object(1)
memory usage: 591.0+ KB

In [141]:
avg = price['price'].mean()
avg

141.7779364512674

In [142]:
price['price'].describe()

count    25209.000000
mean       141.777936
std        147.349137
min          0.000000
25%         69.000000
50%        105.000000
75%        175.000000
max       7500.000000
Name: price, dtype: float64

In [143]:
rooms['room_type']

0        entire home/apt
1        entire home/apt
2        entire home/apt
3           private room
4        entire home/apt
              ...
25204       private room
25205       private room
25206       private room
25207    entire home/apt
25208       private room
Name: room_type, Length: 25209, dtype: category
Categories (3, object): ['entire home/apt', 'private room', 'shared room']

In [144]:
rooms_and_prices = pd.merge(price, rooms, 
                            how="outer", 
                            on="listing_id")

# Merge rooms_and_prices with the reviews DataFrame to create airbnb_merged
review_dates = pd.merge(rooms_and_prices, airbnb_review, 
                         how="outer", 
                         on="listing_id")

# Drop missing values from airbnb_merged
review_dates.dropna(inplace=True)

In [145]:
private_room_count = rooms[rooms['room_type'] == 'private room'].shape[0]

In [146]:
review_dates = pd.DataFrame({
    'first_reviewed': [first_reviewed],
    'last_reviewed': [last_reviewed],
    'nb_private_rooms': [private_room_count],
    'avg_price': [round(avg,2)]
})

In [147]:
review_dates.head()

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78